* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.change_field {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child_field {
    width: 30rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;

}

.buttons {
    width: 100%;
    margin-bottom: 1.8rem;
    display: flex;
    justify-content: space-around;

}

.btn {
    padding: 20px 25px;
    background: transparent;
    border: 1px solid green;
    border-radius: .7rem;
    background-color: #121212;
    color: #ffffff;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 100px;
    margin-bottom: 100px;
}

.img {
    width: 200px;
    height: 200px;
    margin: 0 auto 100px;
    border: 1px solid black;
}

.second_img {
    width: 50%;
    height: 50%;
    margin: 20px auto 50px;
}

.second_img img {
    width: 100%;
}

.fans {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.fan {
    width: 200px;
    height: 200px;
    background-color: #000000;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.fans button {
    width: 100px;
    height: 50px;
    margin: 10px;
    background: linear-gradient(to left, aqua, blue);
    border-radius: 16px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
}

.fans button:hover {
    transition: 1s;
    background: linear-gradient(to right, aqua, blue);
}

.fan2 {
    display: none;
    animation: myani .5s linear infinite;
}

@keyframes myani {
    100% {
        transform: rotate(360deg);
    }
}

.login_form {

    margin-bottom: 100px;
    display: none;
}

.login_form form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}